html {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: #CCD8E0 url(images/bg.png) repeat-x bottom;
	font-family: "Lucida Sans", Helvetica, Verdana, "Gill Sans","Trebuchet MS", Arial, sans-serif;
	font-size: 11px;
	line-height: 1.2;
	color: #333333;
}

#header {
	margin: 0 auto;
	height: 120px;
	width: 800px;
	padding: 50px 10px 0px 10px;
	padding: 10px 10px 5px 10px;
	background: #FFFFFF;
}

#title {
	height: 120px;
	background: #B3C2C7 url(images/VFOlogo_white.png) no-repeat center right;
	font-family: "Gill Sans", "Lucida Sans", Helvetica, Verdana, "Trebuchet MS", Arial, sans-serif;
	font-size: 2em;
	color: #FFFFFF;
	text-indent: 150px;
	line-height: 130px;
	letter-spacing: 2px;
}

#container {
	width: 800px;
	margin: 0 auto;
	padding: 0 10px 10px;
	background: #FFFFFF;
}

#navigation {	
	background: #D9E1E5;
	border: 1px solid #DFEEF7;
	border-color: #DFEEF7 #CFDEE7;
	height: 41px;
}

#navigation a {
	background: #D9E1E5;
	border-right: 1px solid #AFBEC7;
	color: #456;
	display: block;
	float: left;
	font: bold 1.1em sans-serif;
	line-height: 41px;
	padding: 0 20px;
	text-decoration: none;
}

#navigation a:hover {
	background-position: left bottom;
	color: #234;
}

#main {
	border-top: 4px solid #FFF;
	background:white;
}

#content {
	float: left;
	margin: 10px 0;
	padding: 0 16px;
	width: 531px;
}

#sidebar {
	float: right;
	width: 200px;
	margin: 10px 0;
	padding-left: 10px;
	border-left: solid 1px #D9E1E5;
}

#footer {
	clear: both;
	background: #B3C2C7;
	color: #FFFFFF;
	font-size: 0.8em;
	height: 20px;
	line-height: 20px;
	padding: 0 12px;
	text-align: center;
}

h1 {
	color: #222222;
	font-size: 1.8em;
	letter-spacing: 2px;
}

h2, legend {
	color: #222222;
	font-size: 1.25em;
}


p {
	margin-bottom: 1.5em;
}

a {
	color: #554;
	text-decoration: underline;
}

a:hover {
	color: #654;
	text-decoration: none;
}


legend {
	margin-left: -0.5em;
}

label {
	float:left;
	width:20%;
	margin-right:0.5em;
	padding-top:0.2em;
	/*text-align:right;*/
}

label.required:after {
	content: " * ";
	color: red;
	margin-left: 0.2em;
}

#report_form_fieldset, #confirmation_form_fieldset {
	width: 730px;
	margin-bottom: 2.5em;
}

fieldset {
	border: none;
}

span {
	margin-right: 1em;
	color: red;
}

small {
	width: 730px;
	padding-left: 21%;
}

#messages, #result  {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

#errors {
	color: #B70000;
	margin-bottom: 1.5em;
}

#errors a {
	color: #B70000;
	text-decoration: none;
}

#warnings {
	color:#FF5A00;
	margin-bottom: 1.5em;
}

#warnings a {
	color:#FF5A00;
	text-decoration: none;
}






#sidebar h2 {
	line-height: 30px;
	margin: 0;
	padding-left: 12px;
	padding-top: 12px;
}
#sidebar p {
	color: #554;
	padding-left: 12px;
}
#sidebar ul {
	padding: 0;
	border-top: 1px dotted #D9E1E5;
}
#sidebar li {
	border-bottom: 1px dotted #D9E1E5;
	list-style-type: none;
}
#sidebar li a {
	color: #554;
	display: block;
	padding: 6px 0 6px 12px;
	text-decoration: none;
	width: 95%;
}
#sidebar li a:hover {
	background: #F0F0EB;
	color: #654;
}